<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
   <title>
        <%= title %>
    </title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <h1>Hey buddy!!! welcome to Homepage</h1>
    <a href="/download">Download</a>
    
</body>
</html>